<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316199892086-ugdc5d14742e81focm8vndb3gqirsiv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316199892086-ugdc5d14742e81focm8vndb3gqirsiv7</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ7iZGfeoc8exeraRUQi9c2vYNBwCDR3M</string>
	<key>GCM_SENDER_ID</key>
	<string>316199892086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dwkang.GoodRestaurantStorage</string>
	<key>PROJECT_ID</key>
	<string>goodrestaurantstorage</string>
	<key>STORAGE_BUCKET</key>
	<string>goodrestaurantstorage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316199892086:ios:7aa20f3cc94ed4a8099b57</string>
</dict>
</plist>